@model OCP5.Models.ViewModels.VehicleThumbnailViewModel
@{
    var itemName = $"{Model.Year} {Model.BrandName} {Model.ModelName} {Model.FinitionName}";
}
<article class="thumbnail">
    <figure>
        <img src="/Vehicles/ImageByName?fileName=@Model.ImageFileName" alt="@itemName"/>
        <figcaption></figcaption>
    </figure>
    <div class="thumbnail__featuresContainer">
        <ul class="thumbnail__thumbnailFeatures">
            <li class="thumbnailFeatures__feature mainFeature">@Model.SellingPrice.ToString("C")</li>
            <li class="thumbnailFeatures__feature">@Model.Year</li>
            <li class="thumbnailFeatures__feature">@Model.BrandName</li>
            <li class="thumbnailFeatures__feature">@Model.ModelName</li>
            <li class="thumbnailFeatures__feature">@Model.FinitionName</li>
        </ul>
    </div>
</article>