@model OCP5.Models.ViewModels.VehicleThumbnailViewModel

@{
    ViewData["Title"] = "Details";
    var itemName = $"{Model.Year} {Model.BrandName} {Model.ModelName} {Model.FinitionName}";
}

<div class="themePage themePage__with__paddingTop">
    <div class="themePage__subPage">
        <div class="themePage__detailsNavigation">
            <a asp-action="Index">⟵ Retour</a>
        </div>
        <div class="themePage__detailsContainer">
            <figure>
                <img src="~/2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg" alt="@itemName"/>
                <figcaption></figcaption>
            </figure>
            <div class="themePage__detailsContainer__featuresContainer toTopItemsAlign">
                <div class="themePage__detailsContainer__featuresContainer__adminOptions">
                    <p>Vous avez publié cette annonce, vous pouvez le :</p>
                    <ul>
                        <li><a asp-action="Edit" asp-route-id="@Model.Id" class="adminOptions__edit">Modifier</a></li>
                        <li>
                            <form asp-action="Delete">
                                <input type="hidden" asp-for="Id" />
                                <input type="submit" value="Supprimer" class="adminOptions__delete" />
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="themePage__detailsContainer__featuresContainer__featuresList">
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item mainFeature">@Model.SellingPrice.ToString("C")</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.Year</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.BrandName</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.ModelName</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.FinitionName</li>
                </ul>
            </div>
        </div>
    </div>
</div>
