@model OCP5.Models.ViewModels.VehicleThumbnailViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="themePage">
    <div class="themePage__subPage">
        <div class="themePage__detailsNavigation">
            <a asp-action="Index">⟵ Retour</a>
        </div>
        <div class="themePage__detailsContainer">
            <figure>
                <img src="~/2019_Toyota_Corolla_Icon_Tech_VVT-i_Hybrid_1.8.jpg" alt="voiture"/>
                <figcaption></figcaption>
            </figure>
            <div class="themePage__detailsContainer__featuresContainer">
                <ul class="themePage__detailsContainer__featuresContainer__featuresList">
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item mainFeature">@Model.SellingPrice.ToString("C")</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.Year</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.BrandName</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.ModelName</li>
                    <li class="themePage__detailsContainer__featuresContainer__featuresList__item">@Model.FinitionName</li>
                </ul>
            </div>
        </div>
    </div>
</div>
