@model IEnumerable<OCP5.Models.ViewModels.VehicleThumbnailViewModel>

@{
    ViewData["Title"] = "Nos voitures";
}

<div class="themePage">
    <h1 class="themeTitle">@ViewData["Title"]</h1>
    <a asp-action="Create" class="themeButton">
        <span class="themeButton__text">+ Ajouter une voiture</span>
    </a>
    <div class="themePage__dataList --flex-wrap-two-column">
    @foreach (var item in Model)
    {
        @await Html.PartialAsync("Components/Thumbnail", item)
    }
    </div>
</div>


<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinitionName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinitionName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
